body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    background: rgb(135, 132, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}







#container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}





#tv {
    height: 25em;
    width: 50em;
    border-radius: 0.4em;
    border: 0.5em solid rgb(42, 14, 60);
    margin: 4em;
}

.stv {
    background-color: rgb(112, 118, 118);
}

#control {

    height: 25em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4em;
    background-color: rgb(36, 36, 35);
    border: 0.2em solid rgb(188, 69, 168);
    margin-left: 10em;
}

.power-button {
    height: 2.5em;


    width: 6em;
    border-radius: 30%;


    background-color: rgb(163, 21, 21);
    color: rgb(209, 225, 240);
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.power-off {
background-color: brown;
}

.power-on {
background-color: chartreuse;
}





.button {
    height: 1.5em;
    width: 1.5em;
    border-radius: 30%;
    background-color: rgb(71, 34, 129);
    color: rgb(209, 225, 240);


    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}


    






.oculto {
    visibility: hidden;
}

.channels {
    
    display: flex;
    justify-content: space-between;
    width: 5em;
    margin: 0.5em 0;
}

.channel0{
    background-image: url("../img/logo.webp");
    background-size: 100% 100%;
   
}


.channel1{
    background-image: url("../img/betty.gif");
    background-size: 100% 100%;
}

.channel2{
    background-image: url("../img/antena\ 3.gif");
    background-size: 100% 100%;
}
.channel3{
    background-image: url("../img/bob\ esponja.gif");
    background-size: 100% 100%;
}
.channel4{
    background-image: url("../img/corazones.gif");
    background-size: 100% 100%;
}
.channel5{
    background-image: url("../img/pocoyo.gif");
    background-size: 100% 100%;
}
.channel6{
    background-image: url("../img/rata.gif");
    background-size: 100% 100%;

}
.channel7{
    background-image: url("../img/simsonps.gif");
    background-size: 100% 100%;

}
.channel8{
    background-image: url("../img/teletuvis.gif");
    background-size: 100% 100%;
}
.channel9{
    background-image: url("../img/tom\ and\ jerry.gif");
    background-size: 100% 100%;
}

